{# app/Resources/views/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block body %}
<div class="container">
        <div class="row header">
            <div class="col-md-8 col-md-offset-2 highlighted">
                <p class="text-right">
                    {% if app.user %}
                        Hello {{ app.user }}!
                    {% else %}
                        <a href="/login">Login</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Activities</h2>
                {% for activity in activities %}
                    <b>{{ activity.name }}</b> on {{activity.date|date("d/m/Y")}}<br/>
                    Description: {{ activity.description }}<br/>
                    Number of feedbacks received: {{ activity.feedbacks | length }}<br/>
                    <a href="{{ path('edit_activity', {'id': activity.id}) }}">Edit</a>
                    <a href="{{ path('analyse_activity', {'id': activity.id}) }}">Analyse</a>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}