

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
{% endblock stylesheets %}

{% block body %}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Gender', 'Number'],
          {% for key, value in stats["ethnicity"] %}
             ['{{ key }}', {{ value }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Distribution by ethnicity',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('gender-chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
    
<div class="container">
    <div class='row voffset4'>
        <div class="col-md-2">
            <h4>Activity</h4>
         </div>
        <div class="col-md-8">
        {{ activity.name }}
        </div>
    </div>
        
    <div class='row voffset4'>
        <div class="col-md-2">
            <h4>Usages</h4>
         </div>
        <div class="col-md-9">
            <div class="list-group">
                {% for concordance in concordances %}
                <a href="{{ path('display_feedback', {'id_feedback' : concordance[1]}) }}" class="list-group-item">
                     {{ concordance[0]|raw }} 
                     <span class="badge">
                         <span class="glyphicon glyphicon-search"></span>
                     </span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
            
        <div class='row voffset4'>
        <div class="col-md-2">
            <h4>Statistics</h4>
         </div>
        <div class="col-md-9">
            <div class="list-group">
                <div id="gender-chart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>
                
    <div class='row voffset4'>
        <div class="col-md-2">
            <h4><a href="javascript:history.go(-1)">[Go Back]</a></h4>
         </div>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}