{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    .popover{
        width:600px;
    }
    </style>
{% endblock stylesheets %}

{% block body %}
        
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://use.fontawesome.com/451e8f405a.js"></script>
<script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
</script>

<div class="container">
    <div class="row header">
        <div class="col-md-8 col-md-offset-2 highlighted">
            <p class="text-right">
                {% if app.user %}
                    Hello {{ app.user }}!
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"
             ><h3>Activity</h3>
        </div>
        <div class="col-md-8 indented3">
            <strong>{{ activity.name }}</strong><br/>            
            <i>{{ activity.description }}</i> <br/><br>
            Date: {{ activity.date|date('d/m/Y') }}<br/>
            No feedbacks: {{ activity.feedbacks|length }}
        </div>
    </div>
            
    <div class="row voffset4">
        <div class="col-md-2">
            <h3>Word cloud</h3>            
        </div>
        <div class="col-md-8">            
            <div id="keywords"></div>
            {{ render_hinclude(controller(
                            'AppBundle:Default:getFrequencyList', 
                            {'id_activity': activity.id}), 
                            {'default': 'misc/wait.html.twig'}) 
            }}
            <div class="text-right">
                <a href="#" data-toggle="popover" title="About word clouds" 
                   data-content="This word cloud shows the 40 most frequent words 
                   mentioned by participants. Stop words such as 'the' and 'and' 
                   were removed. We removed also 'university' and 'day'. Click on 
                   the word if you want to see the context in which it is used. ">
                    <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
            
    <div class="row">
        <div class="col-md-2">
            <h3>Tone analysis</h3>
            <div><i>Uses linguistic analysis to detect three types of tones from text: emotion, social tendencies, and language style</i></div>
        </div>
        <div class="col-md-8">

{% for key,stat in statistics %}
<script>
    google.charts.setOnLoadCallback(drawChart{{key|replace(' ','_')}});

    function drawChart{{key|replace(' ','_')}}() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Tone');
        data.addColumn('number', '');

        data.addRows([
           ['Min', {{stat[2]}}],
           ['Average', {{stat[0]/stat[1]}}],
           ['Max', {{stat[3]}}],
        ]);


        var options = {'title':'{{key}}',
                   'width':350,
                   'height':300,
                   legend: {position: 'none'}
               };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_{{key|replace(' ','_')}}'));
        chart.draw(data, options);
    }
    </script>
                    
    <div style="display: inline-block" id="chart_div_{{key|replace(' ','_')}}"></div>
{% endfor %}
                
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script src="{{ asset('assets/vendor/jqcloud2/dist/jqcloud.min.js') }}"></script>
    <script src="{{ asset('js/hinclude.js') }}"></script>
{% endblock %}